{% extends 'todo/base.html' %}

 {% block directory_name %}
     {{ pwd.name }}
 {% endblock %}

{% block directory_todo_entry %}

        {% for item in todo_list %}

            <li class="list-group-item list-group-item-light">

                <a href="{{ item.get_aliter_url }}">
                    {% if item.completed %}
                        <span class="icon"><i class="fas fa-check-circle"></i></span>
                            <del>{{ item.entry }}</del>
                    {% else %}
                        <span class="icon"><i class="fas fa-dot-circle"></i></span>
                        <span>{{item.entry}}</span>
                    {% endif %}
                </a>

                <div class="float-right">
                    <a href="#"> <i class="fas fa-edit"></i> </a>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    {% if item.important %}
                        <a href="{% url 'aliter_importance' todo_id=item.id %}" title="remove from important"> <i class="fas fa-bell"></i> </a>

                    {% else %}
                        <a href="{% url 'aliter_importance' todo_id=item.id %}" title="add to important"> <i class="fas fa-bell-slash"></i> </a>

                    {% endif %}
            </div>

            </li>

        {% endfor %}


    <br>
    <div class="container">

        <form method="post" action="{% url 'directory_content' dir_id=pwd.id %}">
            {% csrf_token %}

            <div><strong>Add new entry
            </strong>{{ add_todo_form }}</div>

        </form>
    </div>

{% endblock %}



{% block button_block %}
    <!-- Delete Directory button -->
    {% if not pwd.necessary %}
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <a href="{% url 'delete_folder' dir_id=pwd.id %}">
        <button type="button" class="btn btn-success">
            <span class="fas fa-trash-alt"></span>
            Delete folder
        </button>
      </a>

  </div>
    {% endif %}



      <div class="btn-group mr-2" role="group" aria-label="First group">

          <a href="{% url 'delete_completed' dir_id=pwd.id %}">
            <button type="button" class="btn btn-success">
                <span class="fas fa-trash-alt"></span>
                Clear Completed
            </button>
          </a>

    </div>

      <div class="btn-group mr-2" role="group" aria-label="First group">

      <a href="{% url 'delete_all' dir_id=pwd.id %}">
        <button type="button" class="btn btn-success">
            <span class="fas fa-trash-alt"></span>
            Clear All
        </button>
      </a>

  </div>
{% endblock %}